* {
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  padding: 0px 20px;
  width: 500px;
  height: 500px !important;
}

ul {
    margin: 0;
    padding: 0;
}

/* Style form-header */
.form-header {
    background-color: #B00020;
    padding: 5px 5px;
    margin:20px 0;
    color: white;
    text-align: center;
}

.form-header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.react-datepicker-wrapper {
  float: left;
  width: 25%;
  overflow: hidden; 
}
.react-datepicker__input-container input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
}

.form-input__text {
    margin: 0;
    border: none;
    border-radius: 0;
    border-left: 1px solid #eee;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
}

/* Style the "Add" button */
.form-btn {
    padding: 10px;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 0;
    outline: none;
}






.todo-item:first-child {
  border-top: 1px solid #666;
}

.todo-item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    border-bottom: 1px solid #666;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style the notification icon */
.todo-item__date {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    padding: 17px 90px 15px 12px;
}

/* Style the notification icon */
.todo-item__notification {
    position: absolute;
    right: 50px;
    top: 12px;
    width: 24px;
    height: 24px;
}


/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}






/* image checkbox buttons */
.img-checkbox {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  padding: 10px 15px 10px 15px;
}
:checked+.img-checkbox {
    opacity: 1;
}

/* Extra assumed classes */
.checkbox > label > input[type=checkbox]
{
  display:none;
}
.checkbox-inline, .checkbox
{
  float: right;
  display: inline-block;
}


.todo-item__notifications {
  float: right;
  width: 24px;
  height: 24px;
  padding-right: 40px;
}


.done {
  text-decoration: line-through;
}
